@import url("https://fonts.googleapis.com/css2/family=Patrick+Hand&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar {
  background-color: crimson;
}
.nav-link,
.navbar-brand {
  color: bisque;
  font-family: "Patrick Hand", cursive;
  font-weight: 900;
  font-size: 20px;
}

body {
  font-family: "Patrick Hand", cursive;
}

section {
  height: 100vh;
}

#reward {
  height: 500vh;
}

.titleReward {
  margin-top: 50px;
  margin-top: 80px;
}
#username {
  width: 150px;
  height: 35px;
  margin-top: 35px;
  font-size: 18px;
  text-align: center;
  border-color: rgb(255, 0, 51);
  border-width: 3px;
}
.register {
  margin-top: 5px;
  width: 150px;
  background-color: crimson;
  cursor: pointer;
  height: 35px;
  border-color: honeydew;
  border-width: 3px;
  color: honeydew;
  font-size: 18px;
}
.register:hover {
  border-color: crimson;
  background-color: honeydew;
  color: crimson;
}

.containeraja {
  width: 100%;
  height: 100%;
  background-color: #222;
}

.red {
  background-color: crimson;
}

.blue {
  background-color: slateblue;
}

.title {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-top: 250px;
  font-family: "Patrick Hand", cursive;
}

.navwrapper {
  width: 100%;
  height: 80px;
  background-color: crimson;
  position: fixed;
  top: 0;
  left: 0;
}

.contentwrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
}

.gamewrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.buttonwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonNyerah {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Patrick Hand", cursive;
}

#logoutForm {
  padding-bottom: 5x;
  border: none;
  background-color: blue;
  color: white;
  font-size: 2em;
  width: 200px;
  height: 70px;
  cursor: pointer;
}
#logoutForm:hover {
  background-color: yellow;
  color: black;
}

.startButton {
  padding-bottom: 5x;
  border: none;
  background-color: yellow;
  color: black;
  font-size: 2em;
  width: 200px;
  height: 70px;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 10px;
  font-family: "Patrick Hand", cursive;
}
.startButton:hover {
  background-color: blue;
  color: white;
}

.username {
  display: flex;
  font-size: xx-large;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: -30px;
}
#nama {
  text-transform: uppercase;
  color: rgb(28, 255, 28);
}

.box {
  font-size: 5em;
  margin: 10px;
  padding: 15px;
  border: 5px solid rgb(28, 255, 28);
}

#hasilScore {
  font-family: "Patrick Hand", cursive;
  font-size: xx-large;
  color: honeydew;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.nav {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
}

.nav:hover {
  background-color: #eaeaea;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
}

.nav:hover > a {
  color: #222;
}

.navlink {
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  background-color: wheat;
  border-radius: 15px;
}
